
body
{
	margin: 0 auto;
	background: white url(img/header_blue2.png) no-repeat bottom left;
	font-family: Arial;
}

fieldset.contact_form
{
	margin: 0 auto;
	width: 550px;
}

fieldset.contact_form p
{
	margin: 0px;
}

fieldset.contact_form textarea
{
	resize: none;
	margin-left: 30px;
}

.m_table
{
	display: table;
	width: auto;
	border-spacing:5px;
}

.m_tr
{
   display:table-row;
   width:auto;
}

.m_td_right
{
	float:left;
	display:table-column;
	width:250px;
	text-align: left;
}

.m_td_left
{
	float:left;
	display:table-column;
	width:180px;
	text-align: right;
	padding-right: 10px;
}

#header
{
	margin: 0 auto;
	height: 930px;
}

#city3D
{
	height: 100%;
	margin:0; padding:0;
	background: white url(img/header_background2.png) no-repeat top center;
	/*box-shadow: inset 0 0 10px #555;*/
	/*box-shadow: 0 0 10px #000;*/
	overflow: hidden;
}

#city3D canvas
{
	/*z-index: 2;*/
	
	/*border: 1px black dashed;*/
}


#header_button_container
{
	position: absolute;
	height: 30px;
	margin-left: 5%;
	margin-top: 500px;
	text-align: center;
}

#header_button_container a
{
	padding-left: 10px;
	padding-right: 10px;
	color: white;
	text-decoration: none;
	display: block;
	line-height: 30px;
}

#header_button_disable
{
	/*box-shadow: inset 0 0 10px #999;*/
	opacity: 0.6;
	box-shadow: 0 0 10px #222;
	background: rgba(50, 50, 50, 0.4);
}

#header_button_disable:hover
{
	/*box-shadow: inset 0 0 10px #999;*/
	text-shadow: 0px 0px 9px #fff;
	opacity: 1;
	box-shadow: 0 0 10px #000;
	background: rgba(50, 50, 50, 0.7);
	transition-duration: 0.5s;
}

#header_button_enable
{
	text-shadow: 0px 0px 9px #fff;
	opacity: 1;
	box-shadow: 0 0 10px #000;
	background: rgba(50, 50, 50, 0.7);
}
